:root {
    --main-color: #E3F1E9;
    --dark-color: #274C5B;
    --secondary-color: #7EB693; 
    --btn-bg-color: #EFD372;
    --title-color: #E3F1E9;
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Open Sans", sans-serif;
    --accent-font: "Yellowtail", cursive;
}